@model DFGTeam
@Html.HiddenFor(m => m.Id)

<div class="two fields" >
    <div class="field required">
        @Html.LabelFor(model => model.ENName)
        @Html.TextBoxFor(model => model.ENName, new { htmlAttributes = new { placeholder = "English Name" } })
        <span asp-validation-for="ENName" class="text-danger error" style="color:red"></span>
    </div>
    <div class="field required">
        @Html.LabelFor(model => model.ZHName)
        @Html.TextBoxFor(model => model.ZHName, new { htmlAttributes = new { placeholder = "Chinese Name" } })
        <span asp-validation-for="ZHName" class="text-danger error" style="color:red"></span>
    </div>
</div>
<div class="two fields">
    <div class="field ">
        @Html.LabelFor(model => model.ENPosition)
        @Html.TextBoxFor(model => model.ENPosition, new { htmlAttributes = new { placeholder = "English Name" } })
    </div>
    <div class="field ">
        @Html.LabelFor(model => model.ZHPosition)
        @Html.TextBoxFor(model => model.ZHPosition, new { htmlAttributes = new { placeholder = "Chinese Name" } })
    </div>
</div>
<div class="two fields">
    <div class="field required">
        <label>English Description</label>
        @Html.TextAreaFor(model => model.ENDescription, new { htmlAttributes = new { placeholder = "Chinese Description" } })
        <span asp-validation-for="ENDescription" class="text-danger error" style="color:red"></span>
    </div>
    <div class="field required">
        <label>Chinese Description</label>
        @Html.TextAreaFor(model => model.ZHDescription, new { htmlAttributes = new { placeholder = "English Description" } })
        <span asp-validation-for="ZHDescription" class="text-danger error" style="color:red"></span>
    </div>
</div>
<div class="two fields">
    <div class="field ">
        @Html.LabelFor(model => model.Email)
        @Html.TextBoxFor(model => model.Email, new { htmlAttributes = new { placeholder = "Email" } })
    </div>
    <div class="field ">
        @Html.LabelFor(model => model.LinkedIn)
        @Html.TextBoxFor(model => model.LinkedIn, new { htmlAttributes = new { placeholder = "LinkedIn" } })
    </div>
</div>
<div class="two fields">
    <div class="field ">
        @Html.LabelFor(model => model.Twitter)
        @Html.TextBoxFor(model => model.Twitter, new { htmlAttributes = new { placeholder = "Twitter" } })
    </div>
    <div class="field">
        @Html.LabelFor(model => model.Status)
        @{
            List<SelectListItem> statusListItems = new List<SelectListItem>();
            statusListItems.Add(new SelectListItem { Text = "Active", Value = "Active" });
            statusListItems.Add(new SelectListItem { Text = "Inactive", Value = "Inactive" });
        }
        @Html.DropDownListFor(model => model.Status, statusListItems, new { @class = "ui dropdown" })
    </div>
    
</div>
<div class="two fields">
    <div class="field ">
        @Html.LabelFor(model => model.Order)
        @Html.TextBoxFor(model => model.Order, new { htmlAttributes = new { placeholder = "Order" } })
    </div>
    <div class="field " style="display:none">
        @Html.LabelFor(model => model.Type)
        @{
            List<SelectListItem> languageListItems = new List<SelectListItem>();
            languageListItems.Add(new SelectListItem { Text = "Core Team", Value = "CoreTeam" });
            languageListItems.Add(new SelectListItem { Text = "Advisors", Value = "Advisors" });
        }
        @Html.DropDownListFor(model => model.Type, languageListItems, new { @class = "ui dropdown" })
    </div>
</div>


<div class="field js-image-upload ">
    <div class="field required">
        <label>Team Photo<span style="">  (size: 150 * 150) </span></label>
        <img class="ui small image" style="height:180px;width:auto" src="@Model.Photo">
        <input id="imageUrlValue" name="Photo" value="@Model.Photo" style="display:none" />
        <span asp-validation-for="Photo" class="text-danger error" style="color:red"></span>
    </div>
    <div class="field">
        <div>
            <label for="_upload" class="ui button primary">
                <i class="add icon"></i> Upload
                <input type="file" id="_upload" style="display:none">
            </label>
        </div>
    </div>
    <div class="field">
        <div class="ui blue progress" data-percent="0" style="display:none">
            <div class="bar"></div>
        </div>
    </div>
</div>


