@model IEnumerable<API.WebServices.Models.DFGTeam>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Teams</h2>

<div class="ui actions">
    <a class="ui primary button" asp-action="Create">New</a>
</div>


<table class="ui celled table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ENName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ENPosition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LinkedIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Twitter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ENName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ENPosition)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LinkedIn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Twitter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
